
/* Ajustes de estilo del body */

body {
    font-family: 'Arial', sans-serif; /* Fuente de letra */
    margin: 0; /* Margen izquierdo y derecho */
    padding: 0; /* Margen arriba y abajo */
    background-color: #f4f4f9; /* Fondo del body */
    color: #333333; /* Color de letra */
    display: flex; /* Flexbox */
    flex-direction: column; /* Columnas */
    align-items: center; /* Centrado horizontal */
}

/* Ajustes de estilo del header */

header {
    background-color: #ffffff; /* Fondo de la cabecera */
    border-bottom: 4px solid #69398a; /* Detalle en morado */
    padding: 20px 0; /* Espacio entre la cabecera y el contenido */
    width: 100%; /* Ancho completo */
    text-align: center; /* Texto centrado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}
/* Ajustes de estilo del header */
header h1 {
    color: #333333;
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav a {
    color: #69398a; /* Detalle en morado */
    padding: 5px 10px; /* Espacio entre el texto y el borde */
    border: 1px solid transparent; /* Borde transparente */
    transition: background-color 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease; /* Transiciones cuando se hace hover */
}

/* Ajustes de estilo para los hover */

header nav a:hover {
    background-color: #e0e0e0; /* Fondo del link cuando se hace hover */
    border-color: #69398a; /* Detalle en morado */
    border-radius: 15px; /* Bordes redondeados */
    text-decoration: underline; /* Texto subrayado */ 
}

/* Ajustes de estilo del main */
main {
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: auto;
}


h2 {
    color: #69398a; /* Moradito */
}

p {
    line-height: 1.6;
    margin: 15px 0;
}

/* Ajustes de estilo del grid de imagenes */
.image-grid {
    display: grid; /* Grid de imagenes */
    grid-template-columns: repeat(3, 1fr);  /* 3 columnas */
    grid-gap: 20px; /* Espacio entre las imagenes */
    margin-top: 20px; /* Margen arriba */
}

.image-grid img {
    width: 100%; /* Ancho completo */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
    transition: transform 0.3s ease; /* Transiciones suaves */
}
/* Ajustes de estilo para el hover de las imagenes*/
.image-grid img:hover {
    transform: scale(1.15); /* Escala de la imagen cuando se hace hover */
}

/* Ajustes de estilo del footer */
footer {
    background-color: #ffffff; /* Fondo de la cabecera */
    border-top: 4px solid #69398a; /* Detalle en morado */
    color: #333333; /* Color de letra */
    text-align: center; /* Texto centrado */
    padding: 10px 0; /* Espacio entre la cabecera y el contenido */
    width: 100%; /* Ancho completo */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombreado */
}
